
body {
  font-family: Consolas, monospace;
}

h1 {
  font-weight: bold;
}

.btn-black {
  color: #fff;
  background-color: #333;
  border-color: #3f3f3f;
}
.btn-black.active, .btn-black:hover, .btn-black:focus {
  color: #fff;
  background-color: #555;
  border-color: #5f5f5f;
}

.knob-buttons button {
  min-height: 40px;
  min-width: 80px;
}

.keypad-buttons button {
  margin: 5px;
  font: 40px "Helvetica";
  min-height: 60px;
  max-height: 60px;
}

.maze {
  width: 504px;
}
.maze td {
  border: solid 1px #ddd;
  height: 84px;
  width: 84px;
}
.maze-circle {
  border: solid 3px #777;
  border-radius: 50px;
  height: 55px;
  margin: 0 auto;
  width: 55px;
}
.maze-path {
  background-color: #5cb85c;
}

.label-spacing {
  margin-bottom: 2px;
  padding-bottom: 0;
}

.space-above {
  margin-top: 25px;
}

.symbols-answer {
  font: 40px "Helvetica";
}

.color-buttons button {
  min-width: 75px;
}
