
body {
  font-family: Consolas, monospace;
}

h1 {
  font-weight: bold;
}

.keypad-buttons {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  font: 40px "Helvetica";
}
.keypad-buttons li {
  border: solid 1px #999;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  flex-shrink: 0;
  list-style: none;
  margin: 10px;
  padding: 5px 10px;
  text-align: center;
  width: 60px;
}

.maze {
  width: 504px;
}
.maze td {
  border: solid 1px #ddd;
  height: 84px;
  width: 84px;
}
.maze-circle {
  border: solid 3px #777;
  border-radius: 50px;
  height: 55px;
  margin: 0 auto;
  width: 55px;
}
.maze-path {
  background-color: #5cb85c;
}

